/* I realize everything is pretty disorganized, but that's because I've just been adding things as I think of it or learn something new. Every time I've learned a new thing I've had the urge to just get rid of the whole thing and start from scratch, but I wouldn't be doing myself any favors then because I at least need SOMETHING to turn in, even if it is a pile of crap. I am learning though, getting into the swing of it. I just need to practice more and gain some confidence. I am prepared for sub-par points on the project though, for sure. */


body{
    background-color:rgb(95, 87, 102);
}

.titleFormat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-shadow: 10px 10px 10px red;
}


.btn {
    font-size: 30px;
    cursor: pointer;
    box-shadow: 10px 20px black;
    border-radius: 15px

}
.navBar a {
    display: inline-block;
    color: orangered;
    background-color: blue;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    text-decoration:underline;
    
}

a:hover {
    color: yellow;
    background-color: purple;
    border-style:groove;
    text-decoration: none;
}

a:active {
    background-color: black;
    box-shadow: 4px 10px gray;
    transform: translateY(4px)

}

/* I got the button animation basics from the W3 schools web-site. Actually that's where I've learned most of the things I've used.   */

#profPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 25%;
    border-style:dashed;
    border-color: black;
    border-width: 10px;
    animation: rotate 4s;
    
}

p {
    color: black;
    font-size: 30px;
    text-align: justify;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    
    }

#introStuff {
    display: flex;
    flex-wrap: nowrap;
}

.aboutMe {
    position: relative;
    text-align: center;
    
}

#centered {
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(720deg);
    }
}

#para2, #para1, #centered {
    animation: fadeIn 6s;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }

    
}

#thumbsUp {
    animation: fadeOut 4s;
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1
    }

    to {
        opacity: .3
    }

}
/* Learned keyframes from W3 schools. Learned the rotation stuff from this youtube video: https://www.youtube.com/watch?v=HZHHBwzmJLk */

.pinJuggle {

    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* This was my attempt to center the video on the Past Projects section.  */